@import "../Styles/global.scss";

.link {
  a {
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: white;
    &:hover {
      color: $color-palette-2;
    }
  }

  .active {
    color: $color-palette-2;
  }
}
