@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

$fontStyle: "Space Mono", monospace;
$color-palette-1: #90a955;
$color-palette-2: #ecf39e;
$BP_SMALL: "400px";
$BP_MEDIUM: "770px";
$BP_LARGE: "820px";
$BP_XLARGE: "1000px";
$BP_XXLARGE: "2000px";
