.address {
  padding: 5px;
  margin: 10px;
}

.name {
  padding: 5px;
  margin: 10px;
}

.formContainer {
  width: 70vw;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  color: white;
  font-size: 50px;
  margin: 30px;
  margin-bottom: 50px;
  font-weight: bolder;
  letter-spacing: 3px;
}

.btn {
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.signin {
  text-align: right;
  padding: 20px;
}

a {
  text-decoration: none;
}

.sign {
  height: 60vh;
  width: 40vw;
}

.emailin {
  display: block;
  margin: 10px;
  width: 60%;
  padding: 10px;
  margin-top: 40px;
}

.inputs .emailin {
  margin: 5px auto;
}
.passwordin {
  display: block;
  margin: 10px;
  width: 60%;
  padding: 10px;
}

.inputs .passwordin {
  margin: 5px auto;
}

.inputs {
  margin: 20px;
  padding: 20px;
}

.authButton {
  margin: 10px;
}

.error {
  color: red;
}
