.form-container {
  padding: 40px;
}
.label {
  margin-bottom: 10px;
}

.select-container {
  justify-content: center;
  margin: 2px;
}

.button-container {
  margin-top: 13px;
}

.datepicker {
  margin: 20px;
}

.time {
  display: flex;
  justify-content: column wrap;
}
