.navContainer {
  background: #010606;
  height: 80px;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  color: white;
  padding: 30px;
}

ul {
  list-style: none;
  display: flex;
  float: right;
}
li a {
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: #ffba00;
}
.active {
  color: #ffba00;
}

.userName {
  margin: 0 20px 0 20px;
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
  color: #ffba00;
  position: absolute;
}

#mobileicon {
  display: none;
}
@media screen and (max-width: 920px) {
  ul {
    display: none;
  }
  #mobileicon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
